@model StackUndertow.Models.Question

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionText)
        </dd>


    </dl>
</div>
<p>

    @Html.ActionLink("Back to Home", "Index") |
    @Html.ActionLink("Answer Question", "Create", "Answer", new { id = Model.Id }, new { })







    <div class="container">

        @foreach (var answer in Model.Answers.OrderByDescending(o => o.Votes.Count))
        {


            <div id="LeftColumn" style="float: Left; padding-left: 50px;">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Answer</th>
                            <th>UserName</th>
                            <th>Created</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@answer.QAnswer</td>
                            <td>@Html.RouteLink((string)answer.Owner.UserName, new { UserName = answer.Owner.UserName })</td>
                            <td>@answer.Created</td>
                          
                                @using (Html.BeginForm("DownVote", "Question", new { Aid = answer.Id }))
                                {
                                @Html.HiddenFor(model => model.Id, new { id = Model.Id })
                                <td><input type="submit" value="▲" class="btn btn-default" /></td>
                                }

                           
                                @using (Html.BeginForm("DownVote", "Question", new { Aid = answer.Id }))
                                {
                                @Html.HiddenFor(model => model.Id, new { id = Model.Id })
                                <td><input type="submit" value="▼" class="btn btn-default" /></td>
                                }
                            




                        </tr>
                    </tbody>
                </table>
            </div>
        }




    </div>


